.popup__close-button {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/Close_button.svg);
  background-size: contain;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 525px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}