.profile__about {
  max-width: 336px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}

@media screen and (max-width: 595px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}

