.profile {
  max-width: 880px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 51px;
  padding-top: 40px;
  color: #FFFFFF;
}


@media screen and (max-width: 690px) {
  .profile {
    max-width: 585px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 595px) {
  .profile {
    max-width: 282px;
  } 
}