.footer {
  display: flex;
  max-width: 318px;
  margin: 66px auto 0 200px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1200px) {
  .footer {
    margin-left: 160px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    max-width: 282px;
    margin: 36px auto 0;
    padding-bottom: 36px;
  }
}