.popup__header {
  max-width: 358px;
  width: 100%;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 36px 54px;
  color: #000000; 
}

@media screen and (max-width: 525px) {
  .popup__header {
    max-width: 238px;
  }
}

@media screen and (max-width: 400px) {
  .popup__header {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 73px;
  }
}